<!DOCTYPE html>
<html lang="fr">
   <head>
     <meta charset="utf-8">
     <title><%= include_content("title") or "Blog Indispensable"%></title>
     <%= include_css %>
   </head>
 
    <body>
        <%= include_partial "shared/menu.html.erb" %>
        <h1>Blog</h1>
        <%= yield %>

        <%= include_js %>
    </body>
</html>